{% extends 'base.html' %}

{% block content %}
{% load bootstrap_tags %}
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3 class="greenTextOverride">Current month</h3>
    </div>
    <div class="col-md-3">
      <div class="dropdown">
        <button class="dropbtn">Previous months</button>
        <div class="dropdown-content">
          {% for month, year in months %}
          <a href="/history/previous_month/{{ month }}_{{ year }}">{{ month }}, {{ year }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Who for?</th>
    <th>Who paid?</th>
    <th>Edit/Delete</th>
  </tr>
  {% for expense in expenses_this_month %}
  <tr>
    <td>{{ expense.date }}</td>
    <td>{{ expense.description }}</td>
    <td>{{ expense.category }}</td>
    <td>{{ expense.amount }}</td>
    <td>{{ expense.currency }}</td>
    <td>{{ expense.who_for }}</td>
    <td>{{ expense.who_paid }}</td>
    <td><a href="current_month/{{ expense.pk }}/update">Edit/</a>
      <a href="current_month/{{ expense.pk }}/delete">Delete</a>
  </tr>
  {% endfor %}
</table>

{% endblock %}
