{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-9 nopadding">
      <h3>Overview of Current Month</h3>
    </div>
    <div class="col-md-3 nopadding">
      <br>
      <div class="dropdown">
        <button class="dropbtn">Month by month breakdown</button>
        <div class="dropdown-content">
          {% for month, year in months %}
          <a href="/history/detailed_month/{{ month }}_{{ year }}">{{ month }}, {{ year }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5 nopadding">
      <h4 class="greenTextOverride">Family Expenditure</h4>
      <table style="width:75%" class="table">
        {% for category, total in category_totals_dict.items %}
        <tr>
          <td>{{ category }}</td>
          <td class="text-right">£{{ total }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td><strong>Total</strong></td>
          <td class="text-right"><strong>£{{ family_total }}</strong></td>
        </tr>
      </table>
    </div>
    <div class="col-md-5 nopadding">
      <h4 class="greenTextOverride">Amount paid</h4>
      <table style="width:75%" class="table">
        {% for person, amount in amount_paid_dict.items %}
        <tr>
          <td>{{ person }}</td>
          <td class="text-right">£{{ amount }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-5 nopadding">
      <h4 class="greenTextOverride">Individual Expenditure</h4>
      <table style="width:75%" class="table">
      {% for person, amount in individual_expenses_dict.items %}
        <tr>
          <td>{{ person }}</td>
          <td class="text-right">£{{ amount }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
