{% extends 'base.html' %}

{% block content %}

<h3>Overview of Current Month</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4 nopadding">
      <h4 class="greenTextOverride">Family Expenditure</h4>
      <table style="width:75%" class="table">
        {% for category, total in category_totals_dict.items %}
        <tr>
          <td>{{ category }}</td>
          <td class="text-right">£{{ total }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td><strong>Total</strong></td>
          <td class="text-right"><strong>£{{ family_total }}</strong></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 nopadding">
      <h4 class="greenTextOverride">Amount paid</h4>
      <table style="width:75%" class="table">
        {% for person, amount in amount_paid_dict.items %}
        <tr>
          <td>{{ person }}</td>
          <td class="text-right">£{{ amount }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<br>
<h4 class="greenTextOverride">Individual Expenditure</h4>
<table style="width:25%" class="table">
  {% for person, amount in individual_expenses_dict.items %}
  <tr>
    <td>{{ person }}</td>
    <td class="text-right">£{{ amount }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
