{% extends 'base.html' %}

{% block content %}
{% load bootstrap_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-9 nopadding">
      <h3 class="greenTextOverride">Balance</h3>
    </div>
    <div class="col-md-3 nopadding">
      <br>
      <a type="button" class="btn btn-primary" href="/payback/payback_form">Record a payback</a>
      <br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 nopadding">
      <table style="width:100%" class="table">
        <tr>
          <th></th>
          <th>GBP</th>
          <th>AUD</th>
        </tr>
        {% for user, amounts in balances.items %}
        <tr>
          <td>{{ user }}</td>
          {% for amount in amounts %}
            {% if amount < -0.05 %}
              <td class="redTextOverride">{{ amount }}</td>
            {% else %}
              <td>{{ amount }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  <div class="col-md-1 nopadding">
  </div>
  <div class="col-md-3 nopadding">
  </div>
</div>
</div>
<br>
<h3 class="greenTextOverride">Payback History</h3>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Who from?</th>
    <th>Who to?</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Method</th>
    <th>Update</th>
  </tr>
  {% for payback in payback_list %}
  <tr>
    <td>{{ payback.date }}</td>
    <td>{{ payback.who_from }}</td>
    <td>{{ payback.who_to }}</td>
    <td>{{ payback.amount }}</td>
    <td>{{ payback.currency }}</td>
    <td>{{ payback.method }}</td>
    <td><a href="/payback/{{ payback.pk }}/update">Edit/</a>
      <a href="/payback/{{ payback.pk }}/delete">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
