{% extends 'base.html' %}

{% block content %}
{% load bootstrap_tags %}
<h3>Balance Overview</h1>
<br>
<a type="button" class="btn btn-primary" href="/payback/payback_form">Record a payback</a>
<br>
<h3 class="greenTextOverride">Payback History</h3>
<table style="width:100%" class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Who from?</th>
    <th>Who to?</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Method</th>
    <th>Update</th>
  </tr>
  {% for payback in payback_list %}
  <tr>
    <td>{{ payback.date }}</td>
    <td>{{ payback.who_from }}</td>
    <td>{{ payback.who_to }}</td>
    <td>{{ payback.amount }}</td>
    <td>{{ payback.currency }}</td>
    <td>{{ payback.method }}</td>
    <td><a href="/payback/{{ payback.pk }}/update">Edit/</a>
      <a href="/payback/{{ payback.pk }}/delete">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
